# Intro to Boolean logic

Let's consider a set of temperature data

In [12]:
times = ['12 am', '3 am', '6 am', '9 am', '12 pm', '3 pm', '6 pm', '9 pm']
temps = [50, 45, 40, 50, 55, 60, 55, 50]

We'll store this data in a DataFrame. DataFrames are a great way to store data in Python. 

A DataFrame is similar to a spreadsheet. Like a spreadsheet:
*   A DataFrame stores data in cells.
*   A DataFrame has named columns and numbered rows.

In [13]:
import pandas as pd
tempDat = pd.DataFrame({'time':times, 'temp':temps})
tempDat

    time  temp
0  12 am    50
1   3 am    45
2   6 am    40
3   9 am    50
4  12 pm    55
5   3 pm    60
6   6 pm    55
7   9 pm    50

Let's say we want to find all of the times when the temperature was above a certain value. We can do this using **Boolean logic**. Boolean logic is a form of algebra that determines whether values are **true** or **false**.

Here's an example where we ask if the temperature was above 45:

In [14]:
# First, let's select the temperature data from our DataFrame
tempDat['temp']

0    50
1    45
2    40
3    50
4    55
5    60
6    55
7    50
Name: temp, dtype: int64

In [15]:
# Now, let's check if the values are above 45
tempDat['temp']>45

0     True
1    False
2    False
3     True
4     True
5     True
6     True
7     True
Name: temp, dtype: bool

We can now use these `True` or `False` values to find the times at which the temp was above 45. We do this by only selecting the `True` rows. The DataFrame will do this automatically, you just have to give it the Boolean statement:

In [16]:
tempDat[tempDat['temp']>45]

    time  temp
0  12 am    50
3   9 am    50
4  12 pm    55
5   3 pm    60
6   6 pm    55
7   9 pm    50

The power of Boolean logic is that it allows us to compare multiple conditions.

Let's say, for example, that we want to find the times in the morning where the temperature was above 45.

We can find all of the morning times by seeing if am is in the time column

In [17]:
tempDat['time'].str.contains('am')

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
Name: time, dtype: bool

In [18]:
tempDat[tempDat['time'].str.contains('am')]

    time  temp
0  12 am    50
1   3 am    45
2   6 am    40
3   9 am    50

We can then combine these two conditions.

condition 1 = temp > 45

condition 2 = time is am

We do this by telling the computer that we want condition 1 AND condition 2. It's a bit like making a Venn diagram, where AND specifies the overlapping values between condition 1 and condition 2.

`&` is the special symbol for AND.

Here's what that looks like:

In [19]:
condition_1 = tempDat['temp']>45
condition_2 = tempDat['time'].str.contains('am')
tempDat[(condition_1) & (condition_2)]

    time  temp
0  12 am    50
3   9 am    50

We can also just write all of this in one line (I do this in the code that I introduce in the project, but you are welcome to lay it out like I did in the above cell if you like):

In [20]:
tempDat[(tempDat['temp']>45) & (tempDat['time'].str.contains('am'))]

    time  temp
0  12 am    50
3   9 am    50

Note that you have to put `()` around each condition

If we instead wanted to find all of the times when the temperature was above 45 OR it was morning, we could use the OR command : `|`

OR selects all of the values that are either in condition 1 or in condition 2

In [21]:
tempDat[(tempDat['temp']>45) | (tempDat['time'].str.contains('am'))]

    time  temp
0  12 am    50
1   3 am    45
2   6 am    40
3   9 am    50
4  12 pm    55
5   3 pm    60
6   6 pm    55
7   9 pm    50

# Test your knowledge

Find the times when the temp was above 55 or below 45:

Find the times in the morning when the temp was 45:

In [22]:
# Note that you use == for equals, e.g tempDat['temp']==60